<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.kanabridge.tests">
    <uses-sdk android:minSdkVersion="23" android:targetSdkVersion="36" />
    <application android:label="KanaBridge tests" />
    <instrumentation android:name="com.kanabridge.tests.AndroidSmokeTest" android:targetPackage="com.kanabridge" />
</manifest>
